.match-details-score-and-teams {
  font-size: 2.25rem;
  margin: 1.125rem 0;
}

.match-info, .match-clock {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.match-clock {
  margin-bottom: 8px;
}

.details-home, .details-away, .details-score {
  display: flex;
  align-items: center;
}

.details-home {
  justify-content: flex-end;
}

.details-away {
  justify-content: flex-start;
}

.details-score {
  justify-content: center;
  max-width: 212px;
}

.winner, .loser, .draw {
  display: inline-block;
  height: 80%;
  width: 4px;
  margin: 0 16px;
}

.winner {
  background-color: #5E8C30;
}

.loser {
  background-color: #BF0A2B;
}

.draw {
  background-color: #CFAC44;
}

@media screen and (max-width: 768px) {
  .match-details-score-and-teams {
    font-size: 0.875rem;
  }
  .details-score {
    max-width: 112px;
  }
  .winner, .loser, .draw {
    width: 2px;
    margin: 0 8px;
  }
}
